.k{
    text-align:  center;
    margin-top: 50px;
    font-size: 20px;
}

.y{
    font-size: 45px;
  ;
    margin-top: 20px;
    text-align: center;
}

.ko{
    color: white;
    background-color: rgb(13, 224, 161);
    margin-left: 560px;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
}

.ko:hover{
    background-color: rgb(14, 124, 73);

}

.no{
   margin-left: 450px;
   margin-top: 20px;
}

.lop{
    font-size:30px;
    text-align: center;
}

.yu{
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}

.l{
   
    color: rgb(95, 92, 92);
    margin-top: 20px;
    text-align: center;
}

.p{
    text-align: center;
    color: rgb(95, 92, 92);
}

.u{
    margin-left: 190px;
}

.we{
  text-align: center;
    font-size: 29px;
}

.ho{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}

.pz{
    margin-left: 40px;
    margin-top: 50px;
}

.ml{
    margin-left: 700px;
   margin-top: -280px;
   font-size: 30px;
}

.tr{
margin-left: 700px;
margin-top: 30px;
color: rgb(117, 112, 112);
}

.wa{
    margin-left: 700px;
    margin-top: 20px;
    color: rgb(117, 112, 112);
}

.gt{
    font-size: 30px;
    margin-top: 320px;
    margin-left: 50px;
}

.lk{
    float: right;
    margin-top: -230px;
}

.bn{
    margin-left: 50px;
    margin-top: 25px;
    color: rgb(117, 114, 114);
}

.wo{
    margin-top: 20px;
    margin-left: 50px;
    color: rgb(146, 145, 145);
}

.kh{
    margin-top: 180px;
}

.sd{
   margin-left: 700px;
   margin-top: -280px;
   font-size: 30px;
}

.gf{
    margin-left: 700px;
    margin-top: 30px;
    color: rgb(107, 106, 106);
}

.g{
    margin-left: 700px;
    margin-top: 28px;
    color: rgb(107, 106, 106);
}

.yo{
    font-size: 40px;
  text-align: center;
    margin-top: 300px;
}

.dj{
    margin-top: 50px;
 text-align: center;
}

.ksz{
    font-size: 25px;
   text-align: center;
    margin-top: 30px;
}

.lj{
    font-size: 40px;
   text-align: center;
    margin-top: 40px;
}

.nb{
    background-color: rgb(3, 176, 189);
    margin-left: 520px;
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 20px;
    margin-top: 80px;
    color: white;
}

.nb:hover{
    background-color:rgb(8, 248, 188); 
    
}


.nx{
background: rgba(3, 231, 174, 0.993);
width: 120px;
height: 40px;
border: none;
border-radius: 20px;
color: white;
}

.nx:hover{
    background-color: rgb(3, 176, 189);
}

.lu{
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
}

.h{
    margin-left: 400px;
    margin-top: 40px;
}

.vc{
    font-size: 20px;
}

.rd{
    margin-left: 480px;
    color: rgb(117, 116, 116);
}

.fop{
    margin-left: 400px;
    margin-top: 40px;
}

.km{
    font-size: 20px;
}

.fdp{
    margin-left: 500px;
    color: rgb(138, 136, 136);
}

.span{
    font-size: 40px;
    text-align: center;
    margin-top: 120px;
    margin-left: 30px;
}

.gfh{
margin-left: 50px;
margin-top: 50px;
font-size: 30px;

}

.ew{
    font-size: 18px;
    color: rgb(133, 130, 130);
    margin-left: 30px;
}
.cop{
    margin-left: 690px;
    font-size: 18px;
    color: rgb(133, 130, 130);
}


.bcv{
  margin-left: 352px;
  margin-top: -180px;
  font-size: 30px;

}

li{
    list-style: none;
}
